
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
 Editing info of ID: <%= user._id %>
  <form method="POST" action="/user/<%= user._id %>" class="add-item-form">
    <div class="form-field">
      <label for="username">username</label>
      <input class="box-shape" type="text" name="username" id="username" placeholder="a username for login" value= <%= user.username%> />
    </div>
    <div class="form-field">
      <label for="password">password</label>
      <input class="box-shape" type="password" name="password" id="password" placeholder="an easy password to remember"/>
    </div>
    <!-- <div class="form-field">
      
      <label for="role">Select role:</label>
      
      <input type="radio" id="admin" name="role" value="admin" <%= user.role == 'admin' ? 'checked' : '' %>>
      <label for="admin">Admin</label><br>

      <input type="radio" id="fieldagent" name="role" value="agent" <%= user.role == 'agent' ? 'checked' : '' %>>
      <label for="fieldagent">Field agent</label><br>
      
      <input type="radio" id="guide" name="role" value="guide" <%= user.role == 'guide' ? 'checked' : '' %>>
      <label for="guide">Guide</label><br>
    </div> -->


    <div class="form-field">
      <label for=""></label>
      <input type="submit" value="Add User" />
    </div>
  </form>

    <!-- include header -->
    <%- include('include/_footer') %>
    <!-- /include header -->