
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Vehicleid</th>
      <th>Vehicletype</th>
      <th>Cost</th>
      <th>Capacity</th>
      <th>UPDATE</th>
      <th>DELETE</th>
      
    </tr>
  </thead>
  <tbody>
    <% if(data.length){
   
    for(var i = 0; i< data.length; i++) {%>  
    <tr>
      <td><%= (i+1) %></td>
      <td><%= data[i].vehicleid%></td>
      <td><%= data[i].type%></td>
      <td><%= data[i].cost%></td>
      <td><%= data[i].capacity%></td>
      <td><a href="/update-vehicle/<%= data[i]._id%>">UPDATE</a></td>
      <td><a href="/delete-vehicle/<%= data[i]._id%>">DELETE</a></td>


      
        
    </tr>
    <% }
             
     }else{ %>
         <tr>
            <td>No room</td>
         </tr>
      <% } %>    
    
  </tbody>
  </table>

    <!-- include header -->
    <%- include('include/_footer') %>
    <!-- /include header -->